{% extends "base.html" %}

{% block title %}{{ root.name }}{% endblock %}

{% block content %}
<h1>{{ description.name }}</h1>

<p>
<a href="../index.html">&larr; Index</a>
</p>

{% for project_characteristic in projects %}

<h2>
    {{ project_characteristic.project_description.name }}
   [<a href="../project/{{ project_characteristic.project_id }}.html">↗</a>]
</h2>

{% include "project_characteristic.html" %}

{% endfor %}

{% endblock %}
