{% extends "base.html" %}
{% block title %}{{ root.name }}{% endblock %}
{% block content %}
<h1>{{ root.name }}</h1>

<h2>Characteristics overview</h2>

<ul>
    {% for (characteristic_id, characteristic) in root.characteristics %}
    <li><a href="characteristic/{{ characteristic_id }}.html">{{ characteristic.name }}</a></li>
    {% endfor %}
</ul>

<h2>Projects overview</h2>

<ul>
    {% for (project_id, project_name) in projects %}
    <li><a href="project/{{ project_id }}.html">{{ project_name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
