<h3>Value</h3>

Current:
{% match project_characteristic.latest_value_integer() %}
  {% when Some with (v) %}
    {{ v }}
  {% when None %}
    ? Unknown
{% endmatch %}

<br />

<h3>History</h3>

<img src="../charts/{{ project_characteristic.project_id }}_{{ project_characteristic.characteristic_id }}.png" />
