<h3>Value</h3>

Current:
{% match project_characteristic.latest_value_boolean() %}
  {% when Some with (true) %}
    ✓ Yes
  {% when Some with (false) %}
    🗙 No
  {% when None %}
    ? Unknown
{% endmatch %}


<h3>History</h3>

<img src="../charts/{{ project_characteristic.project_id }}_{{ project_characteristic.characteristic_id }}.png" />
