{% extends "base.html" %}
{% block title %}{{ root.name }}{% endblock %}
{% block content %}
<h1>{{ description.name }}</h1>

<p>
<a href="../index.html">&larr; Index</a>
</p>

<p>
{{ description.description }}
</p>

{% for project_characteristic in characteristics %}

<h2>
   {{ project_characteristic.characteristic_description.name }}
   [<a href="../characteristic/{{ project_characteristic.characteristic_id }}.html">↗</a>]
</h2>

{% include "project_characteristic.html" %}

{% endfor %}

{% endblock %}
