{% match project_characteristic.characteristic_description.datatype %}
  {% when data::DataType::Boolean %}
    {% include "project_boolean_characteristic.html" %}
  {% when data::DataType::Integer %}
    {% include "project_integer_characteristic.html" %}
{% endmatch %}

{% let artifacts = project_characteristic.latest_entry_artifacts() %}
{% if !artifacts.is_empty() %}
<h3>Artifacts</h3>
<ul>
{% for artifact in artifacts %}
<li><a href="../artifacts/{{ project_characteristic.project_id }}_{{ project_characteristic.characteristic_id}}/{{ artifact.to_string_lossy() }}">{{ artifact.to_string_lossy() }}</a></li>
{% endfor %}
</ul>
{% endif %}
